.App {
  background-image: linear-gradient(#d0e6e0, #d8ebe5);
  padding: 70px;
}

.conteiner {
  padding: 40px;
  height: calc(100vh - 220px);
  background-color: rgb(241, 241, 241);
  box-shadow: 0 0 9px #0504044f;
  border-radius: 5px;
}

.conteiner > div {
  height: 100%;
}

.catalog_conteiner, .menu_wrapper {
  height: 100%;
}